.nav{width: 3.75rem;height: .44rem;border-bottom:1px #f1f1f1 solid;
    background:#fff; position: sticky;top:0;z-index: 10;
.nav-left{width: .7rem;height: 0.44rem;
    line-height: .44rem;text-align: center;font: .14rem;float: left;
    i{margin-left: .1rem}
}
.nav-right{width: 2.32rem;height: .44rem;float: left;line-height: .44rem;text-align: center;}

}